body{
    /*background-image: url(images/bg-2.jpg);*/
    background : url('../images/bg-login.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
#main{margin-left:20px; margin-right:20px;}
#main form input[type=text],
#main form input[type=email],
#main form input[type=date],
#main form select,
#main form input[type=password]{
    font-weight: 700;
    width: 90%;
    display: inline;
    background: transparent;
    border: none;
    border-bottom: 1px solid #111;
    border-radius: 0;
    outline: 0;
    box-shadow: none;}
p.form-title
{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #111;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
button.btn-primary{
    width: 90%;
    text-transform: uppercase;
    background: #7cc4e2;
    border-color: #7cc4e2;
}
button.btn-primary:hover{
    transition: 0.5s ease;
    background-color: #7ccde2;
    border-color: #7ccde2;
}
form .form-group .control-label{
    font-weight: 900;
}