
body{
	font-family: serif;
	font-size: 17px;
}
.navbar-inverse{
	background-color: #F50781;
    border-color: #F50781;
}
.navbar-inverse .navbar-brand{
	color: #111;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a{
	color: #111;
	text-transform: uppercase;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
	background: #111;
	color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #F50781;
}
.dropdown-menu>li>a{
	padding: 12px 25px;
	background: #F50781;
	color: #111;
	text-transform: uppercase;
}
.dropdown-menu>li>a:hover{
	background: #111;
	color: #fff;

}
@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
		color: #111;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
		background: #111;
	}
}

@media (max-width: 1200px){
	.navbar-right{
		display: none;
	}
}
@media (max-width: 990px){
	.navbar-form{
		display: none;
	}
}
.spmoi{
	margin-bottom: 20px;
}
.row .title{
	text-transform: uppercase;
    font-size: 4px;
    border-bottom: 1px solid #F50781;
    margin-bottom: 19px;
    margin-left: 15px;
    margin-right: 15px;
}
.row .title h1{
	font-size: 25px;
    color: #F50781;
    display: inline;
}
@media(max-width: 420px){
	.row .title h1{
		font-size: 18px;
	}
}
.row .title h5{
	display: inline;
	float: right;
	color: #F50781;
}
@media(max-width: 420px){
	.row .title h5{
		font-size: 9px;
	}
}
.thumbnail{
	padding-bottom: 25px;
}
.thumbnail:hover{
	border: 1px solid #F50781;
}

.caption{
	text-align: center;
}
.name{
	text-transform: uppercase;
	font-size: 20px;
	color: #111;
	margin-top: 10px;
}
.name a{
	color: #111;
	text-decoration: none;
}
.price{
    font-size: 18px;
    color: #F50781;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 10px;
}
.price .old-price{
	text-decoration: line-through;
	padding-right: 10px;
	padding-left: 10px;
	color: gray;
	font-size: 16px;
}
.muahang{
	border-radius: 0px;
	color: #fff;
	background: red;
	 padding: 8px 16px;
    border: none;
}
.muahang:hover{
	background: gray;
	color: #fff;
}
.list-group{
	margin-top: 25px;
}
.list-group-item{
	margin-bottom: 0px;
}
.list-group-item:hover{
	border: 1px solid #F50781;
}
.item{
	padding-bottom: 20px;
}
.detail-img{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
.detail-img img{
	width: 100%;
	height: 100%;
	-webkit-transition-duration: 1s; /*Webkit: Thời gian phóng to, nhỏ ảnh*/
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
}
.detail-img img:hover{
	-webkit-transform:scale(1.2); /*Webkit: Tăng kích cỡ ảnh lên 1.1 lần*/
	-moz-transform:scale(1.2); 
	-o-transform:scale(1.2);
}
hr{
	border: 1px solid #ccc;
	margin: 0px;
}
footer h4 {
    color: #F50781;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer nav ul{
	list-style-type: none;
	padding: 0px;
	font-weight: 500;
}
footer nav ul li{
	padding: 2px 0px;
}
footer nav ul li a{
	color: #333;
}
footer nav ul li a:hover{
	color: #333;
}
footer form input{
	margin-bottom: 15px;
	width: 100%;
	border-radius: 3px;
}
.share img {
    width: 40px;
    margin: 10px 10px;
}
.share img:hover {
    -webkit-transition: all 2s ease;
    -webkit-transform: rotate(360deg);
}
.bottom{
	margin-top: 15px;
	color: #ccc;
}
.copyright a{
	color: #ccc;
}
.copyright a:hover{
	color: #ccc;
}
footer .menu{
	float: right;
	color: #111;
}
footer .menu ul{
	display: inline;
}
footer .menu ul li{
	display: inline;
	padding: 5px;
}