
@color-main: #7CC4E2;
@color-111: #111;
@color-white: #fff;
@upp: uppercase;

body{
	font-family: 'Roboto Slab',  serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: @upp;
}
/*CSS phan menu*/
.menu-top{
	background: @color-111;
	.logo-small{
		margin-top: 2px;
	    padding-left: 3px;
	    margin-bottom: 1px;
	}
	#menu-wrapper {
		float: right;
	    padding: 0;
	    ul{
	    	margin: 0;
	    	padding: 0;
	    	list-style-type: none;
	    	display: inline;
	    	li{
				display: inline;
				padding: 7px;
				a{
					font-size: 12px;
					font-weight: bold;
					color: @color-white;
					&:hover{
					color: @color-white;
					text-decoration: none;
				}
				}
	    	}
	    }
	}
}
.border{
	border: 2px solid #ffffff;
	border-bottom: 1px solid @color-main;
}
.navbar-inverse{
	background-color: @color-main;
    border-color: @color-main;
    opacity: 0.85;
    /*border-bottom: 2px solid #f770e0;*/
    .navbar-nav>.active>a, 
	.navbar-nav>.active>a:focus, 
	.navbar-nav>.active>a:hover{
    	background: @color-white;
		color: @color-main;
    }
    .fix-logo{
        display: none;
    }
    .navbar-toggle{
        border-color: #fff;
        margin-top: 15px;
    }
	.navbar-nav>li>a{
		color: @color-white;
		text-transform: @upp;
                &:hover{
                    background: @color-white;
                    color: @color-main;
                }
	}
	.navbar-toggle:focus, .navbar-toggle:hover, .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover{
		background-color: @color-main;
	}
	.dropdown:hover .dropdown-menu {
	margin: 0;
	display: block;
	}
	.dropdown-menu>li>a{
		padding: 12px 25px;
		background: @color-main;
		color: @color-white;
		text-transform: @upp;
	}
	.dropdown-menu>li>a:hover{
		background: @color-white;
		color: @color-main;
	}
	.search{
		padding: 10px;
		form{
			.btn-default{
				margin-top: 5px;
				width: 100%;
				background: rgba(152, 152, 152, 0.43);
			}
		}
	}
}

/*end menu*/

/*css phan hien thi san pham*/
.row .title{
    text-transform: @upp;
    font-size: 18px;
    border-bottom: 1px solid @color-main;
    margin-bottom: 19px;
    margin-left: 15px;
    margin-right: 15px;
	color: @color-main;
    h1{
		font-size: 22px;
	    color: @color-main;
	    display: inline;
	}
	h5{
		display: inline;
		float: right;
		color: @color-main;
	}
}

.title1{
    text-transform: @upp;
    font-size: 18px;
    border-bottom: 1px solid @color-main;
    margin-bottom: 19px;
    color: @color-main;
}
.row .display{
    display: none;
}

.spmoi{
	margin-bottom: 20px;
	.thumbnail{
		padding-bottom: 25px;
		.detail-img{
			width: 100%;
		    height: 100%;
		    overflow: hidden;
		    img{
				width: 100%;
				height: 100%;
				transition-duration: 1s; /*Webkit: Thời gian phóng to, nhỏ ảnh*/
			}
			img:hover{
				transform:scale(1.2); /*Webkit: Tăng kích cỡ ảnh lên 1.2 lần*/
			}
		}
		.caption{
			padding-bottom: 7em;
			text-align: center;
			.name{
				text-transform: @upp;
				font-size: 17px;
				color: @color-111;
				margin-top: 10px;
				a{
					color: @color-111;
					text-decoration: none;
				}
			}
			.price{
			    font-size: 18px;
			    color: @color-main;
			    font-weight: bold;
			    margin-top: 8px;
			    margin-bottom: 10px;
			    .old-price{
					text-decoration: line-through;
					padding-right: 10px;
					padding-left: 10px;
					color: gray;
					font-size: 16px;
				}
			}
		}
	}
	.thumbnail:hover{
		border: 1px solid @color-main;
	}
}
.muahang{
	border-radius: 0px;
	color: @color-white;
	background: red;
	padding: 8px 16px;
    border: none;
}
.muahang:hover{
	background: gray;
	color: @color-white;
}
/*end products*/

/*css phan sidebar*/
.list-group{
	margin-top: 25px;
	
	.item{
		padding-bottom: 20px;
		.active{
			border: solid 1px @color-main;
    		background: @color-main;
		}
		.list-group-item{
			margin-bottom: 0px;
			.active, 
			.active:focus, 
			.active:hover{
				border: solid 1px @color-main;
    			background: @color-main;
			}
		}
		.list-group-item:hover{
			background-color: @color-main;
			color: @color-white;
		}
	}
	.products{
	    margin-bottom: 20px;
	    .media-middle img{
			width: 90px;
			height: 100px;
		}
		/*.media-heading{
			margin-bottom: 0;
		}*/
		.media-body {
			h4{
				color: @color-main;
				text-transform: @upp;
				font-size: 14px;
				line-height: 20px;
			}
			span{
				font-size: 10px;
			}
		}
	}
}
/*end css sidebar*/
hr{
	border: 1px solid #ccc;
	margin: 0px;
}
/*css footer*/
footer {
	.footer-menu{
		font-size: 15px;
	}
	h4 {
	    color: @color-main;
	    font-size: 18px;
	    font-weight: bold;
	    margin-bottom: 20px;
	}
	nav ul{
		list-style-type: none;
		padding: 0px;
		font-weight: 500;
		li{
			padding: 2px 0px;
			a{
				color: #333;
			}
			a:hover{
				color: #333;
			}
		}
	}
	form input{
		margin-bottom: 15px;
		width: 100%;
		border-radius: 3px;
	}
	.share{
		img {
		    width: 40px;
		    margin: 10px 10px;
		}
		img:hover {
		    -webkit-transition: all 2s ease;
		    -webkit-transform: rotate(360deg);
		}
	}
	.bottom{
		margin-top: 15px;
		color: #ccc;
		.copyright {
			a{
				color: #ccc;
			}
			a:hover{
				color: #ccc;
			}
		}
	}
	.menu{
		float: right;
		color: @color-111;
		ul{
			display: inline;
			li{
				display: inline;
				padding: 5px;
			}
		}
	}
}

/*end footer*/

/*responsive*/
@media (max-width: 1200px){
	.navbar-right{
		display: none;
	}
}
@media(max-width: 990px){
    .row .display{
	    display: inline;
	}
}
@media(max-width: 767px){
	.logo-small{
		display: none;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li
	{
		a{
			color: @color-111;
		}
		a:hover{
			background: @color-111;
		}
	}
	.navbar-inverse .fix-logo{
        display: inline;
        margin-left: 15px;
    }
}
@media(max-width: 480px){
	.menu-top #menu-wrapper ul li a{
		font-size: 9px;
	}
}
@media(max-width: 486px){
	.muahang{
		padding: 5px 10px;
		font-size: 13px;
	}
	.spmoi .thumbnail{
		padding-bottom: 0;
	}
	.spmoi .thumbnail .caption .name {
		font-size: 13px;
	}
	.spmoi .thumbnail .caption .price{
		font-size: 12px;
		.old-price{
			font-size: 11px;
		}
	}
}
@media(max-width: 420px){
	.row .title {
		h1{
			font-size: 18px;
		}
		h5{
			font-size: 9px;
		}
	}
}
@media(max-width: 320px){
	.muahang{
		padding: 5px 10px;
		font-size: 10px;
	}
	.spmoi .thumbnail .caption .name {
		font-size: 9px;
	}
	.spmoi .thumbnail .caption .price{
		font-size: 8px;
		.old-price{
			font-size: 7px;
		}
	}
}
/*end*/

/*css detail*/
.detail {
	img{
		padding-bottom: 15px;
	}
	.title-detail{
		text-transform: uppercase;
	    font-size: 20px;
	    margin-bottom: 8px;
	    color: #777;
	    margin-top: -7px;
	}
	.infor{
		font-size: 22px;
	    color: red;
	    font-weight: bold;
	    margin-top: 8px;
	    margin-bottom: 6px;
		.old-price{
			text-decoration: line-through;
			margin-right: 15px;
			color: #CBCBCB;
			font-size: 16px;
		}
	}
	.thao{
		padding-left: 35px;
	}
	.choose{
		color: #777;
		text-transform: none;
		h2{
			font-size: 18px;
			margin-top: 3px;
			margin-bottom: 0
		}
		select{
			width: 20%;
			margin-top: 4px;
		}
		h3{
			font-size: 18px;
			margin-top: -4px;
		}
		.number{
			width: 45%;
		    margin-top: 4px;
		    margin-bottom: 8px;
		    max-width: 100%;
		}
		.size{
			.radio{
		      position: relative;
		      margin-right: 4px;
		      height: 30px;
		      width: 30px;
		      line-height: 30px;
		      display: inline-block;
		      z-index: 0;
		    }
		    input{
		      position: absolute;
		      z-index: 2;
		      opacity: 0;
		      cursor: pointer;
		      height: 100%;
		      width: 100%;
		      left: 20px;
		      top: -3px;
		    }
		    .style{
		      position: absolute;
		      z-index: 1;
		      border: 3px solid #eee;
		      height: 100%;
		      width: 100%;
		      text-align: center;
		    }
		    input[type="radio"]:checked ~ .style{
		      border-color: #333;
		    }
		}
	}
	.tab{
		padding-left: 15px;
		margin-top: 25px;
		.tab-content{
			margin-top: 20px;
		    text-align: center;
		    line-height: 35px;
		}
		.color-tab{
			background-color: @color-main;
			color: @color-white;
		}
	}
}


/*end detail*/
/*category*/
.more{
	text-align: center;
	margin-top: 25px;
	input{
		padding: 7px 25px;
	    border: 0;
	    background: #777;
	    color: #fff;
	    text-transform: uppercase;
	    &:hover{
			background-color: @color-main;

	    };
	}
}

/*end category*/