body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  text-transform: uppercase;
}
/*CSS phan menu*/
.menu-top {
  background: #111111;
}
.menu-top .logo-small {
  margin-top: 2px;
  padding-left: 3px;
  margin-bottom: 1px;
}
.menu-top #menu-wrapper {
  float: right;
  padding: 0;
}
.menu-top #menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.menu-top #menu-wrapper ul li {
  display: inline;
  padding: 7px;
}
.menu-top #menu-wrapper ul li a {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.menu-top #menu-wrapper ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .logo-small {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu-top #menu-wrapper ul li a {
    font-size: 9px;
  }
}
.navbar-inverse {
  background-color: #f50781;
  border-color: #f50781;
  opacity: 0.85;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #ffffff;
  color: #f50781;
}
.navbar-inverse .fix-logo {
  display: none;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
  margin-top: 15px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: #ffffff;
  color: #f50781;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #f50781;
}
.navbar-inverse .dropdown-menu > li > a {
  padding: 12px 25px;
  background: #f50781;
  color: #111111;
  text-transform: uppercase;
}
.navbar-inverse .dropdown-menu > li > a:hover {
  background: #ffffff;
  color: #f50781;
}
.navbar-inverse .search {
  padding: 10px;
}
.navbar-inverse .search form .btn-default {
  margin-top: 5px;
  width: 100%;
  background: rgba(152, 152, 152, 0.43);
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li a {
    color: #111111;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li a:hover {
    background: #111111;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .fix-logo {
    display: inline;
    margin-left: 15px;
  }
}
@media (max-width: 1200px) {
  .navbar-right {
    display: none;
  }
}
/*end menu*/
/*css phan hien thi san pham*/
.row .title {
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #f50781;
  margin-bottom: 19px;
  margin-left: 15px;
  margin-right: 15px;
}
.row .title h1 {
  font-size: 22px;
  color: #f50781;
  display: inline;
}
.row .title h5 {
  display: inline;
  float: right;
  color: #f50781;
}
@media (max-width: 420px) {
  .row .title h1 {
    font-size: 18px;
  }
  .row .title h5 {
    font-size: 9px;
  }
}
.title1 {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #f50781;
  margin-bottom: 19px;
  color: #f50781;
}
.row .display {
  display: none;
}
@media (max-width: 990px) {
  .row .display {
    display: inline;
  }
}
.spmoi {
  margin-bottom: 20px;
}
.spmoi .thumbnail {
  padding-bottom: 25px;
}
.spmoi .thumbnail .detail-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.spmoi .thumbnail .detail-img img {
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  /*Webkit: Thời gian phóng to, nhỏ ảnh*/
}
.spmoi .thumbnail .detail-img img:hover {
  transform: scale(1.2);
  /*Webkit: Tăng kích cỡ ảnh lên 1.2 lần*/
}
.spmoi .thumbnail .caption {
  padding-bottom: 7em;
  text-align: center;
}
.spmoi .thumbnail .caption .name {
  text-transform: uppercase;
  font-size: 17px;
  color: #111111;
  margin-top: 10px;
}
.spmoi .thumbnail .caption .name a {
  color: #111111;
  text-decoration: none;
}
.spmoi .thumbnail .caption .price {
  font-size: 18px;
  color: #f50781;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 10px;
}
.spmoi .thumbnail .caption .price .old-price {
  text-decoration: line-through;
  padding-right: 10px;
  padding-left: 10px;
  color: gray;
  font-size: 16px;
}
.spmoi .thumbnail:hover {
  border: 1px solid #f50781;
}
@media (max-width: 486px) {
  .spmoi .thumbnail {
    padding-bottom: 0;
  }
}
@media (max-width: 486px) {
  .spmoi .thumbnail .caption .name {
    font-size: 13px;
  }
  .spmoi .thumbnail .caption .price {
    font-size: 12px;
  }
  .spmoi .thumbnail .caption .price .old-price {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .spmoi .thumbnail .caption .name {
    font-size: 9px;
  }
  .spmoi .thumbnail .caption .price {
    font-size: 8px;
  }
  .spmoi .thumbnail .caption .price .old-price {
    font-size: 7px;
  }
}
.muahang {
  border-radius: 0px;
  color: #ffffff;
  background: red;
  padding: 8px 16px;
  border: none;
}
.muahang:hover {
  background: gray;
  color: #ffffff;
}
@media (max-width: 486px) {
  .muahang {
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .muahang {
    padding: 5px 10px;
    font-size: 10px;
  }
}
/*end products*/
/*css phan sidebar*/
.list-group {
  margin-top: 25px;
}
.list-group .item {
  padding-bottom: 20px;
}
.list-group .item .active {
  border: solid 1px #f50781;
  background: #f50781;
}
.list-group .item .list-group-item {
  margin-bottom: 0px;
}
.list-group .item .list-group-item .active,
.list-group .item .list-group-item .active:focus,
.list-group .item .list-group-item .active:hover {
  border: solid 1px #f50781;
  background: #f50781;
}
.list-group .item .list-group-item:hover {
  background-color: #f50781;
  color: #ffffff;
}
.list-group .products {
  margin-bottom: 20px;
  /*.media-heading{
			margin-bottom: 0;
		}*/
}
.list-group .products .media-middle img {
  width: 90px;
  height: 100px;
}
.list-group .products .media-body h4 {
  color: #f50781;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.list-group .products .media-body span {
  font-size: 10px;
}
/*end css sidebar*/
hr {
  border: 1px solid #ccc;
  margin: 0px;
}
/*css footer*/
footer h4 {
  color: #f50781;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer nav ul {
  list-style-type: none;
  padding: 0px;
  font-weight: 500;
}
footer nav ul li {
  padding: 2px 0px;
}
footer nav ul li a {
  color: #333;
}
footer nav ul li a:hover {
  color: #333;
}
footer form input {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 3px;
}
footer .share img {
  width: 40px;
  margin: 10px 10px;
}
footer .share img:hover {
  -webkit-transition: all 2s ease;
  -webkit-transform: rotate(360deg);
}
footer .bottom {
  margin-top: 15px;
  color: #ccc;
}
footer .bottom .copyright a {
  color: #ccc;
}
footer .bottom .copyright a:hover {
  color: #ccc;
}
footer .menu {
  float: right;
  color: #111111;
}
footer .menu ul {
  display: inline;
}
footer .menu ul li {
  display: inline;
  padding: 5px;
}
/*end footer*/
