<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="images/icon.png" type="image/png" sizes="16x16">
        <title>Danh mục sản phẩm</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
        <link href="css/shop-homepage.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body ng-app="shopApp" ng-controller="shopController">
        
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid menu-top">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-2 col-sm-2 logo-small">
                            <img src="images/logo2.png" alt="Logo" class="img-responsive">
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-6 col-sm-6">
                            <div id="menu-wrapper">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart">
                                            </i> Giỏ hàng <span>0</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-user" aria-hidden="true">
                                            </i> Đăng nhập
                                        </a>
                                    </li>
                                   <li>
                                        <a href="/">
                                            <i class="fa fa-user-plus" aria-hidden="true">
                                            </i> Đăng ký
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border">
                
            </div>
            <div class="container">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="fix-logo">
                            <img alt="logo" src="images/logo.png">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="">
                                <a href="#">Giới thiệu</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang phục bé trai <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Áo sơ mi dài tay</a></li>
                                    <li><a href="#">Áo thun</a></li>
                                    <li><a href="#">Quần jean</a></li>
                                    <li><a href="#">Bộ bé trai</a></li>
                                    <li><a href="#">Vớ</a></li>
                                    <li><a href="#">Trang phục trẻ sơ sinh</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang phục bé gái <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Váy công chúa</a></li>
                                    <li><a href="#">Áo kiểu</a></li>
                                    <li><a href="#">Quần jean</a></li>
                                    <li><a href="#">Bộ bé gái</a></li>
                                    <li><a href="#">Vớ</a></li>
                                    <li><a href="#">Trang phục trẻ sơ sinh</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Giày<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dép</a></li>
                                    <li><a href="#">Giày sandal</a></li>
                                    <li><a href="#">Giày Boot</a></li>
                                    <li><a href="#">Giày búp bê</a></li>
                                    <li><a href="#">Giày thể thao</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phụ kiện<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ba lô</a></li>
                                    <li><a href="#">Nón</a></li>
                                    <li><a href="#">Đồng hồ</a></li>
                                    <li><a href="#">Kẹp tóc</a></li>
                                </ul>
                            </li>
                             <li class="hidden-md hidden-sm">
                                <a href="#">Khuyến mãi</a>
                            </li>
                            <li class="hidden-sm ">
                                <a href="#">Tin tức</a>
                            </li>
                            <li class="hidden-sm">
                                <a href="#">Liên hệ</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1" aria-expanded="false">
                                    <i class="fa fa-search" aria-hidden="true" style="font-size: 18px;"></i>
                                </a>
                                <div class="dropdown-menu search">
                                    <form action="" method="post" accept-charset="utf-8" >
                                        <input type="text" name="" value="" placeholder="Bạn muốn tìm gì??" class="form-control" ng-model="test">
                                    </form>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="list-group">
                    <div class="title1" style="padding-top: 15px; font-style: italic">Tìm kiếm theo</div>
                    <div class="timkiem">
                        Màu sắc
                    </div>
                    <div class="mausac">
                        <a href="#" title="" ng-repeat="c in colors"><img ng-src="{{c.imageUrl}}" alt=""></a>
                    </div>
                    <div class="timkiem" style="margin-top: 20px;">
                        Kích thước
                    </div>
                    <div class="choose">
                        <div class="size">
                            <div class="choose-size">
                                <div class="radio" ng-repeat="s in size">
                                    <input type="radio" name="size" value="{{s.size}}" >
                                    <div class="style">
                                      {{s.size}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timkiem" style="margin-bottom: 10px;">
                        Khoảng giá
                    </div>
                    <div class="price" ng-repeat="p in prices">
                        <input type="radio" name="prices" value="{{p.prices}}">{{p.prices}}
                    </div>
                    <div class="timkiem" style="margin-bottom: 10px; margin-top: 13px; border-bottom: 2px solid #111;">
                        &nbsp;Lượt truy cập
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Đang trực tuyến:</td>
                                <td class="bold"> &nbsp;5</td>
                            </tr>
                            <tr>
                                <td>Hôm nay:</td>
                                <td class="bold"> &nbsp;15</td>
                            </tr>
                            <tr>
                                <td>Hôm qua:</td>
                                <td class="bold"> &nbsp;35</td>
                            </tr>
                            <tr>
                                <td>Tất cả:</td>
                                <td class="bold"> &nbsp;1975</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="title1" style="padding-top: 15px; margin-bottom: 30px; font-style: italic">Sản phẩm mới</div>
                </div>
                <div class="row spmoi">
                    <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="p in products | filter: 'spmoi' | filter : test">
                        <div class="thumbnail">
                            <div class="detail-img">
                                <img ng-src="{{p.imageUrl}}" alt="..." class="img-responsive">
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <a href="#">{{p.name}}</a>
                                </div>
                                <div class="price">
                                    <span class="old-price">{{p.old}}₫</span>
                                    <span class= "new-price">{{p.new}}₫</span>
                                </div>
                                <input type="button" name="" value="Xem chi tiết" class="muahang">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 more">
                            <input type="button" name="" value="Xem thêm" >
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.container --><hr>
        <div class="container">
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Chính sách</h4>
                        <nav class="footer-menu">
                            <ul>
                                <li><a href="">Chính sách thanh toán</a></li>
                                <li><a href="">Chính sách vận chuyển</a></li>
                                <li><a href="">Chính sách đổi trả</a></li>
                                <li><a href="">Chính sách bảo hành</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Hỗ trợ khách hàng</h4>
                        <nav class="footer-menu">
                            <ul class="info-footer">
                                <li><i class="fa fa-paper-plane"></i><span> K152/21 Lý Tự Trọng - Đà Nẵng</span></li>
                                <li><i class="fa fa-phone"></i><span> 0164 754 2896</span></li>
                                <li><i class="fa fa-clock-o"></i><span> Từ 9h - 21h</span></li>
                                <li><i class="fa fa-share"></i><span> cskh@sieuthigiaytreem.com</span></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Đăng ký nhận email</h4>
                        <div>
                            <form accept-charset="UTF-8" action="" id="contact" method="post">
                                <input  type="text" placeholder="Email nhận tin" class="form-control">
                                <button class="muahang" type="submit"><span>Gửi đi</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4>Kết nối với chúng tôi</h4>
                        <div class="share">
                            <a href="#"><img src="images/fb.png" alt=""></a>
                            <a href="#"><img src="images/google.png" alt=""></a>
                            <a href="#"><img src="images/twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-sm-3">
                        <span class="copyright">
                            © 2015 - Mimi Shop - Giày xinh cho bé yêu <br>Design by <a href="mailto: dungntn16@gmail.com">Nguyễn Thị Ngọc Dung</a>
                        </span>
                    </div>
                    <div class="col-md-8 col-sm-9">
                        <nav class="menu">
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Đăng nhập</a></li>
                                <li><a href="#">Đăng ký</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angularShop.js"></script>
        <script src="js/bootstrap.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow65.js"></script>
        <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
    </body>

</html>
