<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="images/icon.png" type="image/png" sizes="16x16">
        <title>Đăng ký</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
        <link href="css/shop-homepage.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>

    <body>
    <div class="col-md-3"></div>
    <div id="main" ng-app="shopApp" ng-controller="shopController" class="col-md-6">
        <p class="form-title">
            Đăng ký
        </p>
        <form class="form-horizontal" name="form" ng-submit="register()" novalidate>
            <div class="form-group">
                <div ng-show="success" class="text-success text-center">Đăng ký thành viên thành công !</div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Email</label>
                <div class="col-xs-9">
                    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="email" autocomplete="off" required >
                    <i class="fa fa-check text-success" ng-show="form.email.$dirty && form.email.$valid"></i>
                    <div ng-show="form.email.$dirty && form.email.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i>
                        <span ng-show="form.email.$error.required">Bạn chưa nhập địa chỉ email</span>
                        <span ng-show="form.email.$error.email">Không đúng định dạng email</span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="username" class="col-xs-3 control-label required">Tên đăng nhập</label>
                <div class="col-xs-9">
                    <input name="username" type="text" class="form-control" placeholder="Tên đăng nhập"  ng-model="username"  ng-minlength="6" ng-maxlength="50" ng-pattern="/^[0-9a-zA-Z]+$/" required>
                    <i class="fa fa-check text-success" ng-show="form.username.$dirty && form.username.$valid"></i>
                    <div ng-show="form.username.$dirty && form.username.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i>
                    <span ng-show="form.username.$error.required">Tên đăng nhập không được bỏ trống</span>
                    <span ng-show="form.username.$error.minlength">Tên đăng nhập phải dài hơn 6 kí tự</span>
                    <span ng-show="form.username.$error.maxlength">Tên đăng nhập phải ngắn hơn 50 kí tự</span>
                    <span ng-show="form.username.$error.pattern">Tên đăng nhập chỉ bao gồm các kí tự chữ cái và số</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-3 control-label required">Mật khẩu</label>
                <div class="col-xs-9">
                    <input name="password" ng-model="password" type="password"class="form-control" placeholder="Mật khẩu" ng-minlength="6" ng-maxlength="30" required>
                    <i class="fa fa-check text-success" ng-show="form.password.$dirty && form.password.$valid"></i>
                    <div ng-show="form.password.$dirty && form.password.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i>
                    <span ng-show="form.password.$error.required">Mật khẩu không được bỏ trống</span>
                    <span ng-show="form.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
                    <span ng-show="form.password.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="birthday" class="col-xs-3 control-label">Ngày sinh</label>
                <div class="col-xs-9">
                    <input name="birthday" type="date" ng-model="birthday" class="form-control">
                    <i class="fa fa-check text-success" ng-show="form.birthday.$dirty && form.birthday.$valid"></i>
                    <div ng-show="form.birthday.$dirty && form.birthday.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i></div>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-xs-3 control-label">Giới tính</label>
                <div class="col-md-9">
                    <select name="sex" ng-model="sex">
                        <option value="">Chọn giới tính</option>
                        <option value="">Nam</option>
                        <option value="">Nữ</option>
                    </select>
                    <i class="fa fa-check text-success" ng-show="form.sex.$dirty && form.sex.$valid"></i>
                    <div ng-show="form.sex.$dirty && form.sex.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i></div>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-xs-3 control-label">Địa chỉ</label>
                <div class="col-xs-9">
                    <input name="address" type="text" ng-model="address" class="form-control" placeholder="Địa chỉ">
                    <i class="fa fa-check text-success" ng-show="form.address.$dirty && form.address.$valid"></i>
                    <div ng-show="form.address.$dirty && form.address.$invalid" class="text-danger"><i class="fa fa-times text-danger"></i></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-xs-9">
                    <button type="submit" class="btn btn-primary" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)">Đăng ký</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angularShop.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
    </body>

</html>
