
<div class="container">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="list-group">
                    <div class="products">
                        <div class="title1" style="margin-top: 25px;">
                            Sản phẩm liên quan
                        </div>
                        <div class="media" ng-repeat="n in news">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" ng-src="{{n.imageUrl}}" alt="..." title="{{n.name}}">
                                </a>
                            </div>
                             <div class="media-body">
                                <h4 class="media-heading">{{n.name}}</h4>
                                <p>Giá : {{n.price}}₫ </p>
                                <button type="submit" class="muahang"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                       
                    </div>
                    <div class="fb-page" data-href="https://www.facebook.com/mimishop.giayxinhchobeyeu/" data-tabs="timeline" data-width="255px" data-height="400px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/mimishop.giayxinhchobeyeu/">
                                <a href="https://www.facebook.com/mimishop.giayxinhchobeyeu/">Mimi shop - Giày xinh cho bé yêu</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 detail" ng-repeat="p in products | filter:{ 'id':  22}:true">
                <div class="row">
                    <div class="title" style="margin-top:25px;">
                        <span>{{p.name}}</span>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 detail-img">
                        <img id="zoom_01" ng-src='{{p.imageUrl}}' data-zoom-image="images/zoom-ao.jpg" class="img-responsive" title="{{p.name}}"/>
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12 thao">
                        <div class="row">
                            <div class="title-detail">
                                {{p.name}}
                            </div>
                            <div class="plugins">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-via="dungntn1996">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                <div class="g-plusone"></div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="https://www.facebook.com/mimishop.giayxinhchobeyeu/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                            
                            <div class="infor">
                                <span class="old-price">
                                    {{p.old}}₫
                                </span>
                                {{p.new}}₫
                            </div>
                        </div>
                        <div class="row choose">
                            <div class="size">
                                <h2>Kích thước</h2>
                                <div class="choose-size">
                                    <div class="radio">
                                        <input type="radio" name="size" value="{{p.size1}}" >
                                        <div class="style">
                                          {{p.size1}}
                                        </div>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="size" value="{{p.size2}}" >
                                        <div class="style">
                                          {{p.size2}}
                                        </div>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="size" value="{{p.size3}}" >
                                        <div class="style">
                                          {{p.size3}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="number">
                                <h3>Nhập số lượng</h3>
                                <input type="number" name="" min="1" class="number num">
                            </div>
                            <div>
                                <input type="button" name="" value="Mua hàng" class="muahang">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tab">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': activeTab == 1}"><a data-toggle="tab" href="javascript:void(0)" class="color-tab" ng-click="changeData(1)">Mô tả</a></li>
                        <li ng-class="{'active': activeTab == 2}"><a data-toggle="tab" href="javascript:void(0)" class="color-tab" ng-click="changeData(2)">Hướng dẫn chọn size</a></li>
                        <li ng-class="{'active': activeTab == 3}" ><a data-toggle="tab" href="javascript:void(0)" class="color-tab" ng-click="changeData(3)">Thanh toán</a></li>
                        <li ng-class="{'active': activeTab == 4}"><a data-toggle="tab" href="javascript:void(0)" class="color-tab" ng-click="changeData(4)">Đánh giá</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active" ng-class="{'active': activeTab == 1}">
                            <p class="text">{{p.descripttion}} <br>
                            Giá bán: {{p.new}} VNÐ</p>
                        </div>
                        <div id="menu1" class="tab-pane fade"  ng-class="{'active': activeTab == 2}">
                          <p class="text">Đang cập nhật...</p>
                        </div>
                        <div id="menu2" class="tab-pane fade" ng-class="{'active': activeTab == 3}">
                          Techcombank Quang Trung Chủ TK: Lưu Huế Phương - Số TK: 190 276 072 09 010
                          <br>
                            NH Đông Á - Sở giao dịch Chủ TK: Lưu Huế Phương - Số TK: 010 105 4931
                            <br>
                            Vietcombank HCM Chủ TK: Lưu Huế Phương  - Số TK: 0071 000 975 978
                        </div>
                        <div id="menu3" class="tab-pane fade" ng-class="{'active': activeTab == 4}">
                          <div class="fb-comments" data-href="https://www.facebook.com/mimishop.giayxinhchobeyeu/" data-numposts="5" data-width="100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1790680167829187',
                    xfbml: true,
                    version: 'v2.6'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
       
         <!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
        <script src="https://apis.google.com/js/platform.js" async defer>
          {lang: 'vi'}
        </script>
    </body>

</html>
