

<div ng-include="'view/slider.html'"> 
</div>
<!-- Page Content -->
<div class="container">
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="list-group">
            <div class="item">
                <a href="index.html" class="list-group-item active">Trang chủ</a>
                <a ng-repeat="i in items" ui-sref="{{i.link}}" class="list-group-item">{{ i.item }}</a>
            </div>
            <div class="products">
                <div class="title1">
                    Bài viết mới
                </div>
                <div class="media" ng-repeat="n in news">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" ng-src="{{ n.imageUrl }}" alt="..." title="{{n.title}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{n.title}}</h4>
                        <button type="submit" class="muahang"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="adv">
                <img src="images/partner2.png" alt="Đối tác" title="Các Đối tác">
                <img src="images/partner.png" alt="Đối tác" title="Các Đối tác">
            </div>
            <div class="fb-page" data-href="https://www.facebook.com/mimishop.giayxinhchobeyeu/" data-tabs="timeline" data-width="255px" data-height="600px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/mimishop.giayxinhchobeyeu/">
                        <a href="https://www.facebook.com/mimishop.giayxinhchobeyeu/">Mimi shop - Giày xinh cho bé yêu</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9" >
        <div class="row">
            <div class="title">
                <h1>Sản phẩm mới </h1>
                <a ui-sref="spmoi" title=""><h5>Xem thêm <!-- &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> --></h5></a>
            </div>
        </div>
        <div class="row spmoi">
            <section class="autoplay slider">
                <div ng-repeat="p in products | filter : {id_category: 'spmoi'} | filter : test | limitTo: 3" class="col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail">
                        <div class="detail-img">
                            <img ng-src="{{ p.imageUrl }}" alt="..." class="img-responsive" title="{{p.name}}">
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">{{ p.name }}</a>
                            </div>
                            <div class="price">
                                <span class="old-price">{{ p.old }}₫</span>
                                <span class= "new-price">{{ p.new }}₫</span>
                            </div>
                            <input type="button" name="" value="Xem chi tiết" class="muahang">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="title">
                <h1>Thời trang bé trai</h1>
                <a ui-sref="boy" title=""><h5>Xem thêm <!-- &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> --></h5></a>
            </div>
        </div>
        <div class="row spmoi">
            <section class="autoplay slider">
                <div ng-repeat="p in products | filter : {id_category: 'boy'} | filter : test | limitTo: 3" class="col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail">
                        <div class="detail-img">
                            <img ng-src="{{ p.imageUrl }}" alt="..." class="img-responsive" title="{{p.name}}">
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">{{ p.name }}</a>
                            </div>
                            <div class="price">
                                <span class="old-price">{{ p.old }}₫</span>
                                <span class= "new-price">{{ p.new }}₫</span>
                            </div>
                            <input type="button" name="" value="Xem chi tiết" class="muahang">
                        </div>
                    </div>
                </div>
            </section>  
        </div>
        <div class="row">
            <div class="title">
                <h1>Thời trang bé gái</h1>
                <a ui-sref="girl" title=""><h5>Xem thêm <!-- &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> --></h5></a>
            </div>
        </div>
        <div class="row spmoi">
            <section class="autoplay slider">
                <div ng-repeat="p in products | filter : 'girl' | filter : test | limitTo: 3" class="col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail">
                        <div class="detail-img">
                            <img ng-src="{{ p.imageUrl }}" alt="..." class="img-responsive" title="{{p.name}}">
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">{{ p.name }}</a>
                            </div>
                            <div class="price">
                                <span class="old-price">{{ p.old }}₫</span>
                                <span class= "new-price">{{ p.new }}₫</span>
                            </div>
                            <input type="button" name="" value="Xem chi tiết" class="muahang">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="title">
                <h1>Giày dép thời trang</h1>
                <a ui-sref="shoe" title=""><h5>Xem thêm <!-- &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> --></h5></a>
            </div>
        </div>
        <div class="row spmoi">
            <section class="autoplay slider">
                <div ng-repeat="p in products | filter : {id_category:'shoe'} | filter : test | limitTo: 3" class="col-md-4 col-sm-6 col-xs-6">
                    <div class="thumbnail">
                        <div class="detail-img">
                            <img ng-src="{{ p.imageUrl }}" alt="..." class="img-responsive" title="{{p.name}}">
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">{{ p.name }}</a>
                            </div>
                            <div class="price">
                                <span class="old-price">{{ p.old }}₫</span>
                                <span class= "new-price">{{ p.new }}₫</span>
                            </div>
                            <input type="button" name="" value="Xem chi tiết" class="muahang">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
	    $(document).on('ready', function() {
	      $('.autoplay').slick({
	        slidesToShow: 3,
	        slidesToScroll: 1,
	        autoplay: true,
	        autoplaySpeed: 2000,
                responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                      }
                    },
                    {
                      breakpoint: 600,
                      settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                      }
                    }
                ]
	      });
	    });
        </script>