
        <!-- Page Content -->
        <div class="container">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="list-group">
                    <div class="title1" style="padding-top: 15px; font-style: italic">Tìm kiếm theo</div>
                    <div class="timkiem">
                        Màu sắc
                    </div>
                    <div class="mausac">
                        <a href="#" title="" ng-repeat="c in colors"><img ng-src="{{c.imageUrl}}" alt=""></a>
                    </div>
                    <div class="timkiem" style="margin-top: 20px;">
                        Kích thước
                    </div>
                    <div class="choose">
                        <div class="size">
                            <div class="choose-size">
                                <div class="radio" ng-repeat="s in size">
                                    <input type="radio" name="size" value="{{s.size}}" >
                                    <div class="style">
                                      {{s.size}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timkiem" style="margin-bottom: 10px;">
                        Khoảng giá
                    </div>
                    <div class="price" ng-repeat="p in prices">
                        <input type="radio" name="prices" value="{{p.prices}}">{{p.prices}}
                    </div>
                    <div class="timkiem" style="margin-bottom: 10px; margin-top: 13px; border-bottom: 2px solid #111;">
                        &nbsp;Lượt truy cập
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Đang trực tuyến:</td>
                                <td class="bold"> &nbsp;5</td>
                            </tr>
                            <tr>
                                <td>Hôm nay:</td>
                                <td class="bold"> &nbsp;15</td>
                            </tr>
                            <tr>
                                <td>Hôm qua:</td>
                                <td class="bold"> &nbsp;35</td>
                            </tr>
                            <tr>
                                <td>Tất cả:</td>
                                <td class="bold"> &nbsp;1975</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title1" style="padding-top: 15px; margin-bottom: 30px; font-style: italic">Sản phẩm sơ sinh</div>
                    </div>
                </div>
                <div class="row spmoi">
                    <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="p in products |  filter : test| filter : {id_category: 'child'}">
                        <div class="thumbnail">
                            <div class="detail-img">
                                <img ng-src="{{p.imageUrl}}" alt="..." class="img-responsive" title="{{p.name}}">
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <a href="#">{{p.name}}</a>
                                </div>
                                <div class="price">
                                    <span class="old-price">{{p.old}}₫</span>
                                    <span class= "new-price">{{p.new}}₫</span>
                                </div>
                                <input type="button" name="" value="Xem chi tiết" class="muahang">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 more">
                            <input type="button" name="" value="Xem thêm" >
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </div>
        </div>
