<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="images/bannerbg.jpg" alt="" title="" id="wows1_0"/></li>
		<li><img src="images/bannerbg3.jpg" alt="slider" title="" id="wows1_1"/></li>
		<li><img src="images/bannerbg2.jpg" alt="" title="" id="wows1_2"/></li>
	</ul></div>
</div>	
<script type="text/javascript" src="js/wowslider.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- End WOWSlider.com BODY section -->